<style type="text/css">
    body {
        margin: 10px;
    }
</style>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-4">
      <span class="navbar-brand" href="#">WebAirplay</span>
    </div>

    <div class="col-xs-8">
      <div class="pull-right">
        <span>Bookmark this link >>></span>
        <!--
        javascript:(a = (b = document).createElement('script')).src = 'http://localhost:4567/js/bm.js', b.body.appendChild(a);void(0);

        javascript:(a = (b = document).createElement('img')).src = 'http://localhost:4567/img_play/' + encodeURIComponent(document.location), b.body.appendChild(a);void(0);
-->
        <a href="javascript:(a%20=%20(b%20=%20document).createElement('img')).src%20=%20'http://localhost:4567/img_play/'%20+%20encodeURIComponent(document.location),%20b.body.appendChild(a);void(0);" title="AirPlay" class="btn btn-warning navbar-btn" id="bookmark-link">
          WebAirplay
        </a>
      </div>
    </div>
  </div>

</div>
<form role="form" action="/play" method="post">
  <div class="form-group">
    <label for="play-url">Youtube URL</label>
    <input type="text" name='url' class="form-control" id="play-url" placeholder="http://www.youtube.com/watch?v=Jg_IORfUXMs">

  </div>

  <div class="form-group">
    <select name="device_index" class="form-control">
      <% device_names.each_with_index do |name, index| %>
          <option value="<%= index %>">
            <%= name %>
          </option>
      <% end %>
    </select>
  </div>

  <button type="submit" class="btn btn-success btn-block">Play</button>
</form>

<br>
<br>

<div class="row">
  <div class="col-xs-12">
    Progress
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="">
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $(function () {
        var duration_seconds = 0;
        var updatePosition = function (position, duration) {
            $('.progress-bar').css('width', position / duration * 100 + '%');
            duration_seconds = duration;
        };

        var pool = function () {
            $.getJSON('/info').success(function (data, textStatus, jqXHR) {
                updatePosition(data.position, data.duration);
            })
        };

        setInterval(pool, 1000);

        $('.progress').on('click', function() {
            var total = $('.progress').width();
            var current = event.offsetX;
            var seconds = current/total * duration_seconds;
            $.post('seek', { seconds: seconds } );
        });
    });
</script>

<script type="text/javascript">
    githubReleaseReminder({
        url: 'https://api.github.com/repos/antulik/web-airplay/releases',
        current_release_id: 508978,
        on_new_release: function(current_release, new_release) {
            console.log(current_release);
            console.log(new_release);

            var html = '<div class="alert alert-warning">New version is available. Please download new version at:';
            html += '<pre>' + new_release.html_url + '</pre>';
            html += '</div> ';

            $('body').prepend(html);
        }
    });
</script>

