<!DOCTYPE html>
<html>
<head>
  <title>This is a title</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">


  <script src='/jquery-1.10.2.min.js' type='text/javascript'></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="youtube-video.js"></script>
  <script src="js/github_release_reminder.js"></script>

  <link href="css/m-player.css" rel="stylesheet">
  <script src="js/m-player.js"></script>

  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
</head>
<body>
    <%= yield %>

</body>
</html>
