body {
    padding: 10px;
    overflow: hidden;
    margin-bottom: 100px;
}

#player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgb(60, 60, 60);
}
